@charset "UTF-8";
#reviewModify {
		width:1000px;
		height:729px;
		margin:0 auto;
	}
	#reviewModify table {
		border-collapse: separate;
 		border-spacing: 0 10px;
	}
	#reviewModify table caption {
		font-size:1.3em;
		font-weight:bold;
		margin:30px 0;
	}
	#reviewModify table tr th {
		width:150px;
		height:40px;
		text-align:left;
	}
	#reviewModify table tr td input[type=text] {
		width:300px;
		height:30px;
		line-height:30px;
		padding-left:10px;
		font-size:1.1em;
	}
	#reviewModify table tr td textarea {
		width:300px;
		height:300px;
		padding:10px;
	}
	#reviewModify table tr td select {
		width:100px;
		height:30px;
		padding-left:5px;
	}
	#reviewModify table tr td input[type=password] {
		width:300px;
		height:30px;
		line-height:30px;
		padding-left:10px;
	}
	#reviewModify table tr td #btn {
		clear:both;
		padding:20px 0 20px 30px;
		background-color:white;
	}
	#reviewModify table tr td #btn .btn {
		width:200px;
		height:40px;
		line-height:40px;
		border-radius:10px;
		outline:0;
		border:0;
		cursor:pointer;
	}
	#reviewModify table tr td #btn input[type=submit] {
		background-color:black;
		color:white;
	}